@mixin flex($align, $justify, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fill($color, $text-color, $color2: $color) {
  padding: 0.65rem;
  background: linear-gradient(to right, $color 10%, $color2);
  color: $text-color;
  a {
    color: $text-color;
  }
}

@mixin nofill($color, $color2: $color) {
  background-color: rgb(255, 255, 255);
  border: solid $color 0.2rem;
  border-image: linear-gradient(to right, $color 10%, $color2) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: $color;
  a {
    color: $color;
  }
}

@mixin theme($background, $text, $color1, $color2, $color3) {
  background-color: $background;
  color: $text;
  .fill {
    @include fill($color1, white);
  }
  .nofill {
    @include nofill($color1);
  }
}
@mixin cardTheme($color) {
  .project-info {
    &:after {
      background-color: $color;
    }
  }
  .fill {
    @include fill($color, white);
  }
  .nofill {
    @include nofill($color);
  }
  .tech {
    border-color: $color;
  }
}
