@use "fonts";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$spectral;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
h2 {
  font-size: clamp(1.75rem, 5vw, 2.5rem);
}
h3 {
  font-size: clamp(1.3rem, 5vw, 1.6rem);
}
h4 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
}
h5 {
  font-size: clamp(1rem, 3vw, 1.25rem);
}

@media (min-width: 1620px) {
  h2 {
    min-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  a {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
}
