@use "./utilities";

.contact {
  background: linear-gradient(utilities.$lgrey, utilities.$dpblue);
}

.form-container {
  margin: 1.5rem 0;
  width: 90%;
  @include utilities.flex(flex-start, center, column);
  input,
  textarea {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  label {
    font-weight: 600;
  }
  textarea {
    min-height: 5rem;
  }
}

.submit-btn {
  margin: 0;
  @include utilities.fill(utilities.$vdpblue, utilities.$white);
}

.contact-info-container {
  margin: 1rem 0;
  @include utilities.flex(flex-end, center);
}

.contact-info {
  margin: 0 1rem;
  a {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-decoration: none;
    color: utilities.$black;
    &:hover {
      color: utilities.$dpblue;
    }
  }
}

@media (min-width: 900px) {
  .form-container {
    width: 30%;
  }

  .contact-info {
    a {
      &:hover {
        color: utilities.$vdpblue;
      }
    }
  }
}
