@use "utilities";

.hero {
  margin-top: 15vh;
  height: 100vh;
  @include utilities.flex(center, normal, column);
  padding: 1.5rem;
}

.hero-text-container {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  h1 {
    line-height: 1.25;
  }
  p {
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 1;
  }
}

.hero-btn-container {
  width: 100%;
  @include utilities.flex(center, center);
}

.hero-btn-container > .fill {
  @include utilities.fill(
    utilities.$dpblue,
    utilities.$white,
    utilities.$aquagreen
  );
}

.hero-btn-container > .nofill {
  @include utilities.nofill(utilities.$dpblue, utilities.$aquagreen);
}

.coder-img {
  height: 40vh;
}
/*****************************************************************/
@media (min-width: 900px) {
  .hero {
    @include utilities.flex(center, normal, row);
    margin-top: 0;
  }

  .hero-text-container {
    width: 60%;
    text-align: left;
    margin-left: 1.5rem;
  }

  .hero-btn-container {
    justify-content: flex-start;
    margin: 1rem 0;
  }

  .hero-btn-container > .fill {
    &:hover {
      @include utilities.fill(
        utilities.$aquagreen,
        utilities.$white,
        utilities.$dpblue
      );
    }
  }

  .hero-btn-container > .nofill {
    &:hover {
      background: linear-gradient(
        to right,
        utilities.$dpblue,
        utilities.$aquagreen
      );

      color: utilities.$white;
    }
  }

  .coder-img {
    margin-right: 1.5rem;
    width: 35%;
    height: unset;
  }
}
/*****************************************************************/
// XXL screens
@media (min-width: 1620px) {
  .hero {
    justify-content: space-evenly;
  }
}
