@use "./utilities";

.navbar {
  width: 100%;
  z-index: 3;
  min-height: 15vh;
  @include utilities.flex(center, space-between);
  padding: 5%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-img {
  width: 2.5rem;
}

/**************************************************************/
// Hamburger and close icon
.nav-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  border: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  z-index: 5;
  display: block;
  position: fixed;
  width: 1.5rem;
  height: 0.15rem;
  background-color: black;
  transition: transform 0.35s ease-in-out, opacity 0.2s linear;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 0.4rem;
}

.hamburger::after {
  top: 0.4rem;
}

.hamburger.active {
  transform: rotate(315deg);
}

.hamburger.active::after {
  transform: rotate(450deg) translate(-0.4rem);
}

.hamburger.active::before {
  opacity: 0;
}
/**************************************************************/
// Navlist container and navlist
.navlist-container {
  @include utilities.flex(center, flex-end);
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  transform: translateX(100%);
  visibility: hidden;
  transition: height 0.1s ease-in, width 0.1s ease-in, all 0.25s ease-in-out;
}

.navlist-container.active {
  visibility: visible;
  background-color: utilities.$white;
  height: 100vh;
  width: 50%;
  padding: 0 1rem;
  z-index: 3;
  border-radius: 0;
  transform: translateX(0);
  transition: height 0.1s ease-in, width 0.1s ease-in, all 0.25s ease-in-out;
}

.navlink {
  text-decoration: none;
  color: utilities.$black;
}

.navitem {
  list-style: none;
  padding: 0.5rem 0;
}
/**************************************************************/
