@use "./utilities";

.project {
  transform: translateX(-100%);
  position: relative;
  opacity: 0;
  width: 85vw;
  transition: transform 1s ease-in-out;
  background-color: utilities.$white;
  margin: 1rem 0;
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
  }
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  transition: all 1s ease-in-out;
}

.project-img-container {
  width: 100%;
}

.project-img {
  width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 1rem;
  @include utilities.flex(center, normal, column);
}

.project-name {
  margin-bottom: 0.75rem;
}

.project-name,
.project-description {
  text-align: center;
}

.project-btn-container {
  width: 100%;
  @include utilities.flex(center, center);
  a {
    i {
      margin-left: 0.5rem;
    }
  }
}

.tech-container {
  @include utilities.flex(center, center);
  flex-wrap: wrap;
  width: 75%;
}

.tech {
  p {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    font-weight: 200;
  }
  padding: 0.1rem;
  border: 0.1rem solid;
  margin: 0.1rem;
}
/***************************************************************/
// Styling for individual projects
.featured {
  @include utilities.cardTheme(#57ad45);
}

.project1 {
  @include utilities.cardTheme(#ff7d1a);
}

.project2 {
  @include utilities.cardTheme(#2bbcbd);
}

.project3 {
  @include utilities.cardTheme(#6c7073);
}

.project4 {
  @include utilities.cardTheme(#e648e5);
}

/***************************************************************/
@media (min-width: 900px) {
  .projects {
    @include utilities.flex(normal, space-evenly, row);
    flex-wrap: wrap;
  }
  .project {
    width: 40vw;
  }

  /*
  !!!! Making a min-height to ensure a more homogenous visual appeareance of the project card with different length descriptions
  */
  .project-description {
    min-height: 7.5rem;
  }

  /***Featured project styling***/
  .featured {
    width: 85vw;
    .project-img {
      height: 100%;
    }
    .project-info {
      padding: 1.5rem;
      width: 45%;
      justify-content: space-between;
    }
    @include utilities.flex(normal, normal);
    /***Color stripe***/
    &:after {
      bottom: unset;
      left: unset;
      top: 0;
      right: 0;
      width: 0.5rem;
      height: 100%;
    }
    /******/
  }
}
