@use "./utilities";
@use "navbar";
@use "hero";
@use "projects";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: utilities.$nunito;
  @include utilities.theme(
    utilities.$lgrey,
    utilities.$black,
    utilities.$aquagreen,
    utilities.$dpblue,
    utilities.$skyblue
  ); //bg-color, font, c1, c2,c3
}

.overlay {
  display: none;
}

.overlay.active {
  display: flex;
  background-color: utilities.$black;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

/*******Temp img sizing*******/
img {
  width: 25vw;
}

/*************************************************************/
// Social icon side bar
.icon-bar {
  visibility: hidden;
  transform: translateX(-100%);
}
.icon-bar.visible {
  visibility: visible;
  position: fixed;
  transform: translateX(0);
  left: 0;
  top: 40%;
  transition: transform 1s ease-in;
  @include utilities.flex(center, center, column);
  background: transparent;
  a {
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: utilities.$black;
  }
}

/*************************************************************/
