h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral SC", serif;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.75rem, 5vw, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 5vw, 1.75rem);
}

h4 {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.btn {
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
}
.btn:hover {
  cursor: pointer;
}

button a {
  text-decoration: none;
}

.btn-sm {
  min-width: 30%;
}

.btn-md {
  min-width: 40%;
}

.btn-lg {
  min-width: 50%;
}

.navbar {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.logo-img {
  width: 2.5rem;
}

/**************************************************************/
.nav-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  border: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  z-index: 5;
  display: block;
  position: relative;
  width: 1.5rem;
  height: 0.15rem;
  background-color: black;
  transition: transform 0.35s ease-in-out, opacity 0.2s linear;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 0.4rem;
}

.hamburger::after {
  top: 0.4rem;
}

.hamburger.active {
  transform: rotate(315deg);
}

.hamburger.active::after {
  transform: rotate(450deg) translate(-0.4rem);
}

.hamburger.active::before {
  opacity: 0;
}

/**************************************************************/
.navlist-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  transform: translateX(100%);
  visibility: hidden;
  transition: height 0.1s ease-in, width 0.1s ease-in, all 0.25s ease-in-out;
}

.navlist-container.active {
  visibility: visible;
  background-color: #fcfcfc;
  height: 100vh;
  width: 50%;
  padding: 0 1rem;
  z-index: 3;
  border-radius: 0;
  transform: translateX(0);
  transition: height 0.1s ease-in, width 0.1s ease-in, all 0.25s ease-in-out;
}

.navlink {
  text-decoration: none;
  color: #000000;
}

.navitem {
  list-style: none;
  padding: 0.5rem 0;
}

/**************************************************************/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 1.5rem;
}

.hero-text-container {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.hero-text-container h1 {
  line-height: 1.25;
}
.hero-text-container p {
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1;
}

.hero-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-btn-container > .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #81a9fd 10%, #81fdcb);
  color: #fcfcfc;
}
.hero-btn-container > .fill a {
  color: #fcfcfc;
}

.hero-btn-container > .nofill {
  background-color: #f0f0f0;
  border: solid #81a9fd 0.2rem;
  border-image: linear-gradient(to right, #81a9fd 10%, #81fdcb) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #81a9fd;
}
.hero-btn-container > .nofill a {
  color: #81a9fd;
}

.coder-img {
  height: 40vh;
  width: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  background-color: #efefef;
  color: #000000;
}
body .btn-fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #81fdcb 10%, #81fdcb);
  color: white;
}
body .btn-fill a {
  color: white;
}
body .btn-nofill {
  background-color: #f0f0f0;
  border: solid #81fdcb 0.2rem;
  border-image: linear-gradient(to right, #81fdcb 10%, #81fdcb) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #81fdcb;
}
body .btn-nofill a {
  color: #81fdcb;
}

.overlay {
  display: none;
}

.overlay.active {
  display: flex;
  background-color: #000000;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

/*******Temp img sizing*******/
img {
  width: 25vw;
}

/*************************************************************/
.icon-bar {
  visibility: hidden;
}

.icon-bar.visible {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.icon-bar.visible a {
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: #000000;
}

/*************************************************************/

/*# sourceMappingURL=style.css.map */
