h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral SC", serif;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.75rem, 5vw, 2.5rem);
}

h3 {
  font-size: clamp(1.3rem, 5vw, 1.75rem);
}

h4 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
}

h5 {
  font-size: clamp(1rem, 3vw, 1.25rem);
}

.btn {
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
}
.btn:hover {
  cursor: pointer;
}

button a {
  text-decoration: none;
}
button a i {
  margin-left: 0.5rem;
}

.btn-sm {
  min-width: 30%;
}

.btn-md {
  min-width: 40%;
}

.btn-lg {
  min-width: 50%;
}

.navbar {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.logo-img {
  width: 2.5rem;
}

/**************************************************************/
.nav-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  border: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  z-index: 5;
  display: block;
  position: relative;
  width: 1.5rem;
  height: 0.15rem;
  background-color: black;
  transition: transform 0.35s ease-in-out, opacity 0.2s linear;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 0.4rem;
}

.hamburger::after {
  top: 0.4rem;
}

.hamburger.active {
  transform: rotate(315deg);
}

.hamburger.active::after {
  transform: rotate(450deg) translate(-0.4rem);
}

.hamburger.active::before {
  opacity: 0;
}

/**************************************************************/
.navlist-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  transform: translateX(100%);
  visibility: hidden;
  transition: height 0.1s ease-in, width 0.1s ease-in, all 0.25s ease-in-out;
}

.navlist-container.active {
  visibility: visible;
  background-color: #fcfcfc;
  height: 100vh;
  width: 50%;
  padding: 0 1rem;
  z-index: 3;
  border-radius: 0;
  transform: translateX(0);
  transition: height 0.1s ease-in, width 0.1s ease-in, all 0.25s ease-in-out;
}

.navlink {
  text-decoration: none;
  color: #000000;
}

.navitem {
  list-style: none;
  padding: 0.5rem 0;
}

/**************************************************************/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 1.5rem;
}

.hero-text-container {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.hero-text-container h1 {
  line-height: 1.25;
}
.hero-text-container p {
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1;
}

.hero-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-btn-container > .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #81a9fd 10%, #81fdcb);
  color: #fcfcfc;
}
.hero-btn-container > .fill a {
  color: #fcfcfc;
}

.hero-btn-container > .nofill {
  background-color: white;
  border: solid #81a9fd 0.2rem;
  border-image: linear-gradient(to right, #81a9fd 10%, #81fdcb) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #81a9fd;
}
.hero-btn-container > .nofill a {
  color: #81a9fd;
}

.coder-img {
  height: 40vh;
  width: unset;
}

.project {
  transform: translateX(-100%);
  visibility: hidden;
  width: 85vw;
  transition: transform 1s ease-in-out;
  background-color: #fcfcfc;
  margin: 1rem 0;
}

.project.visible {
  transform: translateX(0);
  visibility: visible;
  transition: all 1s ease-in-out;
}

.project-img-container {
  width: 100%;
}

.project-img {
  width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.project-info:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
}

.project-name {
  margin-bottom: 0.75rem;
}

.project-name,
.project-description {
  text-align: center;
}

.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}

.tech {
  padding: 0.1rem;
  border: 0.1rem solid;
  margin: 0.1rem;
}
.tech p {
  font-size: clamp(0.8rem, 1.5vw, 1.25rem);
}

/***************************************************************/
.featured .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #57ad45 10%, #57ad45);
  color: white;
}
.featured .fill a {
  color: white;
}
.featured .nofill {
  background-color: white;
  border: solid #57ad45 0.2rem;
  border-image: linear-gradient(to right, #57ad45 10%, #57ad45) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #57ad45;
}
.featured .nofill a {
  color: #57ad45;
}
.featured .tech {
  border-color: #57ad45;
}
.featured .project-info:after {
  background-color: #57ad45;
}

.project1 .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #ff7d1a 10%, #ff7d1a);
  color: white;
}
.project1 .fill a {
  color: white;
}
.project1 .nofill {
  background-color: white;
  border: solid #ff7d1a 0.2rem;
  border-image: linear-gradient(to right, #ff7d1a 10%, #ff7d1a) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #ff7d1a;
}
.project1 .nofill a {
  color: #ff7d1a;
}
.project1 .tech {
  border-color: #ff7d1a;
}
.project1 .project-info:after {
  background-color: #ff7d1a;
}

.project2 .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #2bbcbd 10%, #2bbcbd);
  color: white;
}
.project2 .fill a {
  color: white;
}
.project2 .nofill {
  background-color: white;
  border: solid #2bbcbd 0.2rem;
  border-image: linear-gradient(to right, #2bbcbd 10%, #2bbcbd) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #2bbcbd;
}
.project2 .nofill a {
  color: #2bbcbd;
}
.project2 .tech {
  border-color: #2bbcbd;
}
.project2 .project-info:after {
  background-color: #2bbcbd;
}

.project3 .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #6c7073 10%, #6c7073);
  color: white;
}
.project3 .fill a {
  color: white;
}
.project3 .nofill {
  background-color: white;
  border: solid #6c7073 0.2rem;
  border-image: linear-gradient(to right, #6c7073 10%, #6c7073) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #6c7073;
}
.project3 .nofill a {
  color: #6c7073;
}
.project3 .tech {
  border-color: #6c7073;
}
.project3 .project-info:after {
  background-color: #6c7073;
}

.project4 .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #fd2f60 10%, #fd2f60);
  color: white;
}
.project4 .fill a {
  color: white;
}
.project4 .nofill {
  background-color: white;
  border: solid #fd2f60 0.2rem;
  border-image: linear-gradient(to right, #fd2f60 10%, #fd2f60) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #fd2f60;
}
.project4 .nofill a {
  color: #fd2f60;
}
.project4 .tech {
  border-color: #fd2f60;
}
.project4 .project-info:after {
  background-color: #fd2f60;
}

/***************************************************************/
.about-card {
  width: 85vw;
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.about-card .nofill {
  background-color: white;
  border: solid #000000 0.2rem;
  border-image: linear-gradient(to right, #000000 10%, #000000) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #000000;
}
.about-card .nofill a {
  color: #000000;
}
.about-card h3 {
  position: relative;
}
.about-card h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12.5%;
  height: 0.25rem;
  width: 75%;
  background-color: #74e3d5;
}

.about-card-top {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}
.about-card-top span {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}

.label {
  font-weight: 600;
  margin-right: 0.2rem;
}

.answer {
  font-weight: 300;
}

.me-description-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.resume-container {
  width: 100%;
  display: none;
}

.resume-container.active {
  display: flex;
  min-height: 80vh;
}

.resume-display {
  width: 100%;
  min-height: 80vh;
}

.about-card-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.about-card-bottom-container img {
  width: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  background-color: #efefef;
  color: #000000;
}
body .fill {
  padding: 0.65rem;
  background: linear-gradient(to right, #81fdcb 10%, #81fdcb);
  color: white;
}
body .fill a {
  color: white;
}
body .nofill {
  background-color: white;
  border: solid #81fdcb 0.2rem;
  border-image: linear-gradient(to right, #81fdcb 10%, #81fdcb) 5;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  color: #81fdcb;
}
body .nofill a {
  color: #81fdcb;
}

section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.overlay {
  display: none;
}

.overlay.active {
  display: flex;
  background-color: #000000;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

/*******Temp img sizing*******/
img {
  width: 25vw;
}

/*************************************************************/
.icon-bar {
  visibility: hidden;
  transform: translateX(-100%);
}

.icon-bar.visible {
  visibility: visible;
  position: fixed;
  transform: translateX(0);
  left: 0;
  top: 40%;
  transition: transform 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.icon-bar.visible a {
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: #000000;
}

/*************************************************************/

/*# sourceMappingURL=style.css.map */
